* {
    box-sizing: border-box; /* Imposta il box-sizing per tutti gli elementi */
}

html, body {
    height: 100%; /* Imposta l'altezza al 100% */
    margin: 0; 
    padding: 0;
    overflow-x: hidden; /* Nasconde lo scorrimento orizzontale */
}

body {
    background-color: beige;
    position: relative; /* Necessario per posizionare l'elemento pseudo */
}
    img.logo {
        width: 100px;  /* Regola la larghezza */
        height: auto;  /* Mantiene le proporzioni */
        margin: 10px 10px; /* Spaziatura */
    }

    .logo {
        margin-right: 10px; /* Spaziatura tra il logo e il testo */
    }

    body {
        background-color: beige;
        margin: 0; 
        padding: 0;
        position: relative; /* Necessario per posizionare l'elemento pseudo */
    }

    body::before {
        content: ""; /* Necessario per creare un elemento pseudo */
        position: fixed; /* Posiziona l'elemento in modo fisso */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(sfondo.jpg);
        background-size: cover; /* Rende l'immagine di sfondo coprente */
        background-repeat: no-repeat; 
        background-position: center; 
        filter: blur(3px); /* Applica il filtro di sfocatura */
        z-index: -1; /* Assicura che l'elemento sia dietro il contenuto */
    }

    .content {
        position: relative; /* Necessario per posizionare il contenuto sopra lo sfondo */
        color: white; /* Colore del testo per contrasto */
        text-align: center;
        padding: 50px;
    }


    /*BARRA RICERCA*/


    .servizi {
        display: flex;
        align-items: center;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        width: 100%;
        position: fixed;
        height: 90px;
        top: 0;
        left: 0;
        padding: 0 20px;
    }

    .servizio-btn {
        background-color: transparent;
        color: beige;
        padding: 10px;
        cursor: pointer;
        border: none;
        font-size: 17px;
        font-family: "Cinzel", serif;
        
    }

    .titolo {
        color: beige;
        margin: 0 0 5px 0;
        text-align: center;
        font-family: "Cinzel", serif;
        font-size: 50px;
    }
    
    .titolo2 {
        font-size: 20px;
        color: beige;
        font-family: "Cinzel", serif;
        text-align: center;
        font-style: italic;
        margin-bottom: 170px;
    }


    /*STANZE*/


    .form-container {
        display: flex; /* Utilizza Flexbox per disporre i form in orizzontale */
        justify-content: center; /* Centra i form orizzontalmente */
        flex-wrap: wrap; /* Permette ai form di andare a capo se non c'è spazio sufficiente */
        margin: 20px 0; /* Margine superiore e inferiore per distanziare i form dal titolo */
    }

    .form-container {
        display: flex; /* Utilizza Flexbox per disporre i form in orizzontale */
        justify-content: center; /* Centra i form orizzontalmente */
        gap: 30px; /* Spazio tra i form */
    }

    .stanza-form {
        border-radius: 20px; /* Angoli arrotondati */
        padding: 20px; /* Padding interno per i form */
        width: 360px; /* Imposta una larghezza fissa per i form */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* Ombra leggera per i form */
        background-color: beige; /* Colore di sfondo chiaro per i form */
    }

    .stanze {
        margin: 4px 0; /* Margine superiore e inferiore per distanziare il contenitore */
        text-align: center; /* Centra il contenuto all'interno del contenitore */
        font-family: "Cinzel", serif;
    }

    .lista{
        text-align: left;
    }

    .navigazione {
        display: flex;
        align-items: center;
        background-color: black;
        width: 100%;
        position: fixed;
        height: 60px;
        top: 0;
        left: 0;
        padding: 0 20px; /* Aggiunto padding laterale per distanziare i pulsanti dai bordi */
    }

    .nav-btn {
        background-color: transparent; /* Sfondo trasparente per i pulsanti */
        color: beige; /* Colore del testo */
        padding: 10px 15px; /* Padding interno per i pulsanti */
        cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
        border: none; /* Rimuove il bordo dei pulsanti */
        text-decoration: none; /* Rimuove la sottolineatura */
    }


    /*LOGIN*/


    .titolo3 {
        text-align: center; /* Centra il titolo */
        margin-top: 80px; /* Margine superiore per distanziare dal menu */
        font-family: "Cinzel", serif;
        font-size: 40px;
        color: beige;
    }
    
    .login-form-container {
        display: flex; /* Utilizza Flexbox per centrare il contenuto */
        justify-content: center; /* Centra orizzontalmente */
        align-items: center; /* Centra verticalmente */
    }
    
    .login-form {
        border-radius: 20px; /* Angoli arrotondati */
        padding: 40px; /* Padding interno per il form */
        width: 450px; /* Larghezza del form */
        background-color: beige; /* Colore di sfondo chiaro per il form */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* Ombra leggera per il form */
        text-align: center; /* Centra il testo all'interno del form */
        height: fit-content;
    }
    
    .login-form h3 {
        font-size: 22px;
        margin-top: 0;
        font-family: "Cinzel", serif;
        color: black;
    }
    
    .login-form label {
        display: block;
        margin: 15px 0 5px;
        font-weight: bold;
        font-family: "Cinzel", serif;
    }
    
    .login-form input {
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    .login-form button {
        background-color: #4CAF50; /* Colore di sfondo del pulsante */
        color: beige; /* Colore del testo del pulsante */
        padding: 10px 20px; /* Padding del pulsante */
        border: none; /* Rimuove il bordo del pulsante */
        border-radius: 10px; /* Arrotonda gli angoli del pulsante */
        cursor: pointer; /* Cambia il cursore al passaggio del mouse */
        font-size: 16px; /* Dimensione del font del pulsante */
        transition: background-color 0.3s; /* Transizione per il colore di sfondo */
        font-family: "Cinzel", serif; /* Font per il pulsante */
    }
    
    .login-form button:hover {
        background-color: #36853a; 
    }
    
    .login-form p {
        margin-top: 0; /* Rimuove lo spazio sopra il paragrafo */
        margin-bottom: 0; /* Rimuove lo spazio sotto il paragrafo */
    }
    
    .fine {
        font-family: "Cinzel", serif;
        font-weight: bold;
        border-bottom: 0px;
    }
    
    .fine span {
        font-style: italic;
    }


    /*CONTATTI*/

    .contatti {
        display: flex;
        align-items: center;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 80px;
        padding: 0 20px;
        color: beige;
        background-color: rgb(0, 0, 0);
    }
    
    .titolo4{
        text-align: center;
        font-size: 20px;
        font-family: "Cinzel", serif;
        color: beige;
    }

    .contatti span {
        color: beige;
        font-weight: bold;
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .icone{
        text-align: center;
    }

    /*REGISTRAZIONE*/

    .reg-form-container {
        display: flex; /* Utilizza Flexbox per centrare il contenuto */
        justify-content: center; /* Centra orizzontalmente */
        align-items: center; /* Centra verticalmente */
    }
    
    .reg-form {
        border-radius: 20px; /* Angoli arrotondati */
        padding: 40px; /* Padding interno per il form */
        width: 490px; /* Larghezza del form */
        background-color: beige; /* Colore di sfondo chiaro per il form */
        box-shadow: 0 4px 10px rgba(0, 0, 0, 1); /* Ombra leggera per il form */
        text-align: center; /* Centra il testo all'interno del form */
        height: fit-content;
    }
    
    .reg-form h3 {
        font-size: 22px;
        margin-top: 0;
        font-family: "Cinzel", serif;
        color: black;
    }
    
    .reg-form label {
        display: block;
        margin: 15px 0 5px;
        font-weight: bold;
        font-family: "Cinzel", serif;
    }
    
    .reg-form input {
        width: 90%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    
    .reg-form button {
        background-color: #4CAF50; /* Colore di sfondo del pulsante */
        color: beige; /* Colore del testo del pulsante */
        padding: 10px 20px; /* Padding del pulsante */
        border: none; /* Rimuove il bordo del pulsante */
        border-radius: 10px; /* Arrotonda gli angoli del pulsante */
        cursor: pointer; /* Cambia il cursore al passaggio del mouse */
        font-size: 16px; /* Dimensione del font del pulsante */
        transition: background-color 0.3s; /* Transizione per il colore di sfondo */
        font-family: "Cinzel", serif; /* Font per il pulsante */
    }
    
    .reg-form button:hover {
        background-color: #36853a; 
    }
    
    .reg-form p {
        margin-top: 0; /* Rimuove lo spazio sopra il paragrafo */
        margin-bottom: 0; /* Rimuove lo spazio sotto il paragrafo */
    }